											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="dropdown-full-color dropdown-primary">
														<a class="nav-link active" href="~/Home">
															Home
														</a>
													</li>
													<li class="dropdown dropdown-full-color dropdown-primary">
														<a class="nav-link dropdown-toggle" href="demo-photography-about-me.html">
															About
														</a>
														<ul class="dropdown-menu custom-dropdown-menu-style-1">
															<li>
																<a class="dropdown-item" href="demo-photography-about-me.html">
																	About Me
																</a>
															</li>
															@*<li>
																<a class="dropdown-item" href="demo-photography-about-us.html">
																	About Us
																</a>
															</li>*@
														</ul>
													</li>
													<li class="dropdown dropdown-full-color dropdown-primary">
														<a class="nav-link dropdown-toggle" href="demo-photography-portfolio-stripes.html">
															Portfolio
														</a>
														<ul class="dropdown-menu custom-dropdown-menu-style-1">
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-stripes.html">
																	Stripes
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-vertical.html">
																	Vertical
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-parallax.html">
																	Parallax
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-horizontal-scroll.html">
																	Horizontal Scroll
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-full-width-grid.html">
																	Full Width Grid
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-full-width-no-margins.html">
																	Full Width No Margins
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-boxed-grid.html">
																	Boxed Grid
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-infinite-scroll.html">
																	Infinite Scroll
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-ajax-on-page.html">
																	Ajax On Page
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-full-screen.html">
																	Full Screen
																</a>
															</li>
															<li>
																<a class="dropdown-item" href="demo-photography-portfolio-ken-burns.html">
																	Ken Burns
																</a>
															</li>
															<li class="dropdown-submenu">
																<a class="dropdown-item" href="#">
																	Portfolio Detail
																</a>
																<ul class="dropdown-menu custom-dropdown-menu-style-1">
																	<li>
																		<a class="dropdown-item" href="demo-photography-portfolio-detail-extended.html">
																			Extended
																		</a>
																	</li>
																	<li>
																		<a class="dropdown-item" href="demo-photography-portfolio-detail-slider-with-thumbs.html">
																			Slider with Thumbs
																		</a>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
													<li class="dropdown-full-color dropdown-primary">
														<a class="nav-link" href="~/Blog">
															Blog
														</a>
													</li>
													<li class="dropdown dropdown-full-color dropdown-primary">
														<a class="nav-link dropdown-toggle" href="demo-photography-contact-me.html">
															Contact
														</a>
														<ul class="dropdown-menu custom-dropdown-menu-style-1">
															<li>
																<a class="dropdown-item" href="demo-photography-contact-me.html">
																	Contact Me
																</a>
															</li>
															@*<li>
																<a class="dropdown-item" href="demo-photography-contact-us.html">
																	Contact Us
																</a>
															</li>*@
														</ul>
													</li>
												</ul>
											</nav>
